.hero-slider{
    width:100%;
    height: calc(100vh - 100px);
}
.hero-slider .swiper-slide img{
    width:100%;
    height:100%;
    object-fit: cover;
}
.hero-slider.swiper .pagination{
    display: flex;
    gap:.5rem;
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    bottom:2rem;
    z-index: 10;
    justify-content: center;
}
.pagination>span{
    background:#fff;
    box-shadow: 0 0 10px #ddd;
    width:0.8rem;
    height:0.8rem;
    border-radius: 50%;
}
.hero-slider .swiper-pagination-bullet {
    opacity: 1;
}
.pagination>span.swiper-pagination-bullet-active {
    background: var(--point-color);
}

.quick{
    display: flex;
}
.quick .quick-item{
    flex: 1;
}
.quick-item figure{
    width: 100%;
    aspect-ratio: 960/970;
    position: relative;
}
.quick-item figure a{
    width: 100%;
    height:100%;
    display: block;
}
.quick-item figure img {
    width: 100%;
    height: 100%;
    object-position: 50% 90%;
}
.quick-men figure img {
    height: 100%;
    object-position: 50% 70%;
}
.quick-men{
    color: #fff;
}
.quick-item>figure h1{
    position: absolute;
    bottom: 5rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2.5rem;
    font-family: var(--point-font);
    font-weight: 400;
    z-index: 1000;
    /* color: #fff; */
}

.best-seller{
    background-color: var(--pm-color-0);
}
.best-seller h1{
    padding: 6rem 0;
    text-align: center;
    color: var(--pm-color-700);
}

.swiper-slide img{
    margin-bottom: 1rem;
}
.swiper-slide h2{
    margin-bottom: .5rem;
}




/* 스토리보드 스타일 */
.style-board{
    background-color: var(--pm-color-700);
    padding: 6rem 0;
    
}
.style-board h1{
    text-align: center;
    color: #fff;
    margin-bottom: 6rem;
}
.sryle-grid{
    margin: 0 auto;
    width: 1720px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem 2rem;
}
.sryle-grid figure{
    width: 545px;
    height: 558px;
    aspect-ratio: 545/558;
}



@media (max-width:1440px){
    .hero-slider{
        width:100%;
        height: auto;
    }
    .quick-item figure{
        aspect-ratio: 512/800;
    }
    .quick-item>figure h1 {
        font-size: 2rem;
    }
}

@media (max-width:768px){
    .quick-item figure{
        
        aspect-ratio: 402/437;
    }
    .quick-item figure img {
        height: 100%;
        object-position: 50% 60%;
    }
    .quick{
        flex-direction: column;
    }
    .quick-item>figure h1 {
        position: absolute;
        bottom: 50%;
        left: 50%;
        transform: translateY(-100%);
        font-size: 2.5rem;
        font-family: var(--point-font);
        font-weight: 400;
        z-index: 1000;
    }
    .quick-men>figure h1 {
        position: absolute;
        bottom: 50%;
        left: 20%;
        transform: translateY(100%);
        font-size: 2rem;
        font-family: var(--point-font);
        font-weight: 400;
        z-index: 1000;
    }
}