.hero-slider{
    width:100%;
    height: calc(100vh - 100px);
}
.hero-slider .swiper-slide img{
    width:100%;
    height:100%;
    object-fit: cover;
}
.hero-slider.swiper .pagination{
    display: flex;
    gap:var(--space-small);
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    bottom:var(--space-large);
    z-index: 10;
    justify-content: center;
}
.pagination>span{
    background:#fff;
    box-shadow: 0 0 10px #ddd;
    width:0.8rem;
    height:0.8rem;
    border-radius: 50%;
}
.hero-slider .swiper-pagination-bullet {
    opacity: 1;
}
.pagination>span.swiper-pagination-bullet-active {
    background: var(--point-color);
}

.quick{
    display: flex;
}
.quick .quick-item{
    flex: 1;
}
.quick-item figure{
    width: 100%;
    aspect-ratio: 960/970;
    position: relative;
}
.quick-item figure a{
    width: 100%;
    height:100%;
    display: block;
}
.quick-item figure img {
    width: 100%;
    height: 100%;
    object-position: 50% 90%;
}
.quick-men figure img {
    height: 100%;
    object-position: 50% 70%;
}
.quick-men{
    color: #fff;
}
.quick-item>figure h1{
    position: absolute;
    bottom: 5rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2.5rem;
    font-family: var(--point-font);
    font-weight: 400;
    z-index: 10;
    /* color: #fff; */
}



/* 베스트 셀러 스타일 */
.best-seller{
    background-color: var(--pm-color-0);
}
.best-seller h1{
    padding: var(--space-3x-large) 0;
    text-align: center;
    color: var(--pm-color-700);
}
.swiper-slide{
    margin-bottom: var(--space-3x-large);
    text-align: center;
}
.swiper-slide img{
    margin-bottom: var(--space-normal);
}
.swiper-slide h2{
    margin-bottom: var(--space-small);
}




/* 스토리보드 스타일 */
.style-board{
    background-color: var(--pm-color-700);
    padding: var(--space-3x-large) 0;
}
.style-board h1{
    text-align: center;
    color: #fff;
    margin-bottom: var(--space-3x-large);
}
.style-grid{
    margin: 0 auto;
    width: 1720px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: var(--space-large);
    border: 1px solid green;
    max-height: 1150px;
    overflow: hidden;
    transition: all .6s ease ;
}
.style-grid.is-expanded{
    max-height: 2500px;
}
.style-grid figure{
    max-width: 100%;
    max-height: 100%;
    aspect-ratio: 545/558;
    overflow: hidden;
    position: relative;
}
.style-grid figure img{
    max-width: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 1;
    filter: brightness(1);
}
.style-grid figure:hover img{
    filter: brightness(0.6);
}
.style-grid figure:hover p{
    opacity: 1;
}
.style-grid figure p{
    text-align: center;
    position: absolute;
    top: 50%;
    left:50%;
    z-index: 100;
    color: #fff;
    transform: translate(-50%, -50%);
    font-size: 2.5rem;
    font-family: var(--point-font);
    font-weight: 400;
    line-height: 1.2;
    opacity: 0;
}
.style-board .common-frame{
    text-align: center;
}
 button{
    margin-top: var(--space-3x-large);
    padding: var(--space-small) var(--space-normal);
    border: 1px solid#fff;
    color: #fff;
 }




/* 반응형 */
@media (max-width:1440px){
    .hero-slider{
        width:100%;
        height: auto;
    }
    .quick-item figure{
        aspect-ratio: 512/800;
    }
    .quick-item>figure h1 {
        font-size: var(--space-large);
    }
    .style-grid {
        width: 100%;
        padding: 0 var(--space-large);
        box-sizing: border-box;
    }
    .style-grid{
        max-height: 613.28px;
    }
}

@media (max-width:768px){
    .quick-item figure{
        
        aspect-ratio: 402/437;
    }
    .quick-item figure img {
        height: 100%;
        object-position: 50% 60%;
    }
    .quick{
        flex-direction: column;
    }
    .quick-item>figure h1 {
        position: absolute;
        bottom: 50%;
        left: 50%;
        transform: translateY(-100%);
        font-size: 2.5rem;
        font-family: var(--point-font);
        font-weight: 400;
        z-index: 1000;
    }
    .quick-men>figure h1 {
        position: absolute;
        bottom: 50%;
        left: 20%;
        transform: translateY(100%);
        font-size: var(--space-large);
        font-family: var(--point-font);
        font-weight: 400;
        z-index: 1000;
    }
}

@media (max-width:768px){

}